{% extends "page.njk" %}

{% block extended %}
<div class="papers-section">
{% for paper in papers  %}

    <div class="papers-tile tile">
        <div class="d-flex justify-content-between">
        {% if paper.doi %}
        <a href="{{ paper.doi }}" target="_blank" class="text-decoration-none">
        {% endif %}
        <h5>{{ paper.title }}</h5>
        {% if paper.doi %}
        </a>
        {% endif %}

        {% if paper.doi %}
        <span>    [<a href="{{ paper.pdf }}" target="_blank">PDF</a>]</span>
        {% endif %}

        </div>
        <div>
            {% set lastAffil = paper.authors[0].affiliation %}
            {% for author in paper.authors  %}
                {% if author != paper.authors[0] %}
                    {% if lastAffil != author.affiliation %}
                        <span class="light"> ({{ lastAffil }}); </span>
                    {% else %}
                        <span>, </span>
                    {% endif %}
                {% endif %}
                <span class="light">{{ author.name }}</span>
                {% set lastAffil = author.affiliation %}
            {% endfor %}
            <span class="light">({{lastAffil}}) </span>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}
